body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculator {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex;
    gap: 10px;
}

.display {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: end;
    max-width: 350px;
    min-height: 50px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: end;
    overflow-wrap: break-word;
    word-break: break-all;
}

button {
   width: 82px;
   font-size: large;
   
}

.first-line, .sec-line, .third-line, .fourty-line, .fifth-line {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    gap: 5px;
    max-width: 350px;
}

.equal {
    flex-grow: 1;
}